.headerContainer {
    // position: relative;
    // display: flex;
    // flex-flow: wrap;
    // justify-content: center;
    // width: 90vw;
    position: sticky;
    top: 0;
    z-index: 99;
    grid-area: 1/1/span 1/span 4;
    border: 1px solid #fff;
    background: $component-bgcolor;
    box-shadow: 0 1px 3px #ddd;
  }